@import "../../styles/colors.scss";

.container {
  background-color: $color-white;
  border-radius: 15px;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 0px 70px 70px 70px;
  

  .categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .cart {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 30px;

      .heading {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .pizza {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
      }

      .total {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      @media screen and (max-width: 640px) {
        .actions, .heading, .total {
          flex-direction: column;
          row-gap: 15px;
          align-items: flex-start;
        }
      }
    }
  }

  .empty {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;

    h1 {
      text-align: center;
    }
  }
}
