@import "../../styles/colors.scss";

.btn {
  padding: 17px 22px;
  border: none;
  background: $color-accent;
  color: $color-white;
  font-weight: 600;
  border-radius: 30px;
  width: fit-content;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.primary {
  background: $color-accent;
  color: $color-white;
}

.light {
  background: $color-white;
  color: $color-grey;
  border: solid 1px $color-grey;
}

.dark {
  background: $color-dark;
  color: $color-white;
}
