/** colors **/
$color-accent: #fe5f1e;
$color-dark: #2c2c2c;
$color-white: #ffffff;
$color-grey: #a4a4a4;
$color-black: #000000;
$color-light: #f9f9f9;
$color-background: #ffdf8c;
$color-pale: #f4f4f4;
