@import "../../styles/colors.scss";

.btn {
  display: flex;
  column-gap: 8px;
  align-items: center;
  background: transparent;
  border-radius: 30px;
  width: fit-content;
  min-height: 48px;
  cursor: pointer;

  border: solid 1px $color-accent;
  color: $color-accent;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 16px;

  &:hover {
    opacity: 0.8;
  }

  .count {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    width: 22.5px;
    height: 22px;
    border-radius: 22.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-accent;
    color: $color-white;
  }

  .icon {
    height: 22px;
    width: 22px;
    
    display: none;
  }

  @media screen and (max-width: 460px) {
    column-gap: 4px;

    .text {
      display: none;
    }

    .icon {
      display: initial;
    }
  }
}