@import "../../styles/colors.scss";

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  flex: 1;
  min-width: 295px;

  /*****/
  padding: 15px;
  background: #FFFFFF;
  border: solid 1px $color-pale;
  border-radius: 10px;
  /*****/

  .preview {
    width: 260px;
    height: 260px;
    position: relative;
  }

  &:hover {
    transition: 0.1s;
    border: solid 1px $color-light;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 100%;

    h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: $color-black;
      margin: 0;
    }

    .select {
      display: flex;
      flex-direction: column;
      background-color: $color-pale;
      padding: 6px;
      border-radius: 10px;
      row-gap: 5px;
      width: 100%;
    }

    .price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-left: 15px;

      h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        color: $color-black;
      }
    }
  }

  @media screen and (max-width: 460px) {
    min-width: 0;

    .preview {
      width: 200px;
      height: 200px;
    }
  }
}